*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: rgb(10, 10, 10);
}

.interface{
    max-width: 1368px;
    margin: 0 auto;
    padding: 0 4%;
}

header .lucimar-contato button, .hero-site button, .saiba-mais button{
    background-color: transparent;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    border-radius: 20px;
}

header .lucimar-contato button:hover, .hero-site button:hover, .saiba-mais button:hover{
    background-color: #daa520;
    color: black;
} 


/* estilo do header */

html {
    scroll-behavior: smooth;
}

header{
    width: 100%;
    position: fixed;
    padding: 50px 0;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: 0.5s;
    z-index: 9999999999999;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* estilo menu dinamico */

header .logo img{
    max-width: 120px;
}

header.rolar{
    background-color: rgb(10, 10, 10);
    padding: 15px 0;
    min-height: 60px;
    box-shadow: 0 0 8px #00000061;
}

/* ------------------ */

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0px 80px;
}

header .menu-desktop nav ul li a{
    color: #fff;
    text-decoration: none;
    display: inline;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover{
    transform: scale(1.05);
}

header .lucimar-contato button{
    width: 120px;
    height: 45px;
}

/* estilo do botão do menu mobile */

header .lula-menu-mob{
    display: none;
    position: relative;
    z-index: 9999999999;
}

header .lula-menu-mob div{
    background-color: #daa520;
    height: 3px;
    margin: 10px 0;
    transition: .2s;
}

header .lula-menu-mob .line-menumob-1{
    width: 30px;
}

header .lula-menu-mob .line-menumob-2{
    width: 20px;
}

header .lula-menu-mob .line-menumob-1.ativo1{
    transform: rotate(45deg) translate(30%);
    background-color: #daa520;
}

header .lula-menu-mob .line-menumob-2.ativo2{
    transform: rotate(-45deg) translate(30%);
    width: 30px;
    background-color: #daa520;
}

/* estilo do menu mobile */
header .menu-mobile{
    width: 0%;
    height: 0vh;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;
    transition: .5s;
}

header .menu-mobile nav{
    width: 100%;
}

header .menu-mobile nav ul{
    list-style: none;
}


header .menu-mobile nav a{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    padding: 20px 0;
    display: block;
    transition: .5s;
    font-weight: 500;
}

header .menu-mobile nav a:hover{
    background-color: #daa520;
    color: #000;
    box-shadow: 0 0 20px #daa520;
}

header .menu-mobile.abrir{
    width: 100%;
    height: 100vh;
}

body.no-overflow{
    overflow: hidden;
}


/* estilo do hero */
section.hero-site{
    height: 99vh;
    background-image: url(../images/bk1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    
}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 63px;
    color: #fff;
    font-weight: 600;
}

.hero-site .txt-hero h1 .highlighted{
    color: #daa520;
    font-weight: 700;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p span{
    display: block;
}

.hero-site button{
    width: 230px;
    height: 45px;
}

.hero-site button{
    background-color: #ffffff;
    color: black; 
    border: none;
}

/* estilo projetos */

section.projetos{
    padding: 80px 0;
    box-shadow: 0 0 8px #00000061;
}

.projetos .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 90px;
}

.projetos .itens-container .img-itens img{
    max-width: 500px;
}

.projetos .itens-container .txt-itens h3{
    font-size: 2em;
    line-height: 35px;
    color: #fff;
    color: #daa520;
    margin-bottom: 20px;

}

.projetos .itens-container .txt-itens p{
    color: #fff;
}

.projetos .itens-container .txt-itens h3 span{
    font-weight: 300;
    color: #fff;
}

/* estilo dos botoes de contato */


section.contato{
    background-color: rgb(255, 255, 255);
    padding: 80px 0;
}

.txt-contato, .icons-contato{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txt-contato h3{
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span{
    display: block;
    font-weight: 700;
    color: #daa520;
}

.contato .icons-contato a{
    text-decoration: none;
}

.contato .icons-contato button{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0 60px;

    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
    transition: .5s;
}

.contato .icons-contato button i{
    font-size: 21px;
}

.contato .icons-contato button:hover{
    background-color: #000;
}

.contato .icons-contato button:hover i, .contato .icons-contato button:hover p{
    color: #fff;
}

/* estilo saiba mais */

section.saiba-mais{
    height: 600px;

    background-image: url(../images/cimento.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
    color: #ffffff;
    text-align: center;
}

.saiba-mais > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000d2;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.saiba-mais > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}

.saiba-mais h3{
    font-size: 2.5em;
    line-height: 40px;
    font-weight: 400;
}

.saiba-mais h3 span{
    display: block;
    font-weight: 700;
    color: #daa520;
}

.saiba-mais p{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
}

.saiba-mais button{
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    color: #000;
}

/* estilo da sessão como funciona */

section.como-funciona {
    padding: 80px 0;
    margin-bottom: 10px; 
}

.txt-funciona, .instrucoes{
    display: inline-block;
    width: 50%;
    margin-right: -4%;
    vertical-align: top;
}

.como-funciona .txt-funciona{
    position: sticky;
    top: 50%;
    padding-bottom: 34px;
}

.como-funciona .txt-funciona h3{
    font-size: 3.5em;
    line-height: 60px;
    font-weight: 300;
    color: #fff;
}

.como-funciona .txt-funciona h3 span{
    display: block;
    font-weight: 700;
    color: #daa520;
}

.instrucoes .instru-box{
    align-items: center;
    display: flex;
    gap: 20px;

    margin-bottom: 40px;
    border: 1px solid #ffffff;
    padding: 20px;
}

.instrucoes .instru-box img{
    max-width: 100px;
}

.instrucoes .instru-box h4{
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
    color: #fff;
}

.instrucoes .instru-box h4 span{
    font-weight: 300;
}

.instrucoes .instru-box p{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}


/* estilo do sobre */
.sobre .flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

section.sobre{
    flex-shrink: 0;
    padding: 80px 4%;
}

.sobre .botao {
    display: flex;
    justify-content: flex-start; 
    margin-left: 230px;
}

.sobre .botao button {
    width: 230px;
    height: 45px;
    background-color: #ffffff;
    color: black;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: .5s;
    border-radius: 20px;
    margin-right: 30px;
}

.sobre .botao button:hover {
    background-color: #daa520;
    color: black;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 20px;
}

.sobre .txt-sobre h2 span{
    color: #daa520;
    display: block;
    font-weight: 700;
}

.sobre .txt-sobre .lula-social button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    transition: .5s;
    margin-top: 20px;
}

.sobre .txt-sobre .lula-social button:hover{
    background-color: #daa520;
    color: #000;
}

/* estilo do formulario */

section.formulario{
    padding: 80px 4%;
    background-color: #2e2e2e;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #57575733;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #000000;
    font-size: 18px;
}

form textarea {
    resize: none;
    height: 175px;
    overflow: auto;
}

form .lucimar-enviar{
    margin-top: 20px;
    text-align: center;
}

form .lucimar-enviar input{
    width: 180px;
    height: 42px;
    background-color: #ffffff;
    color: black;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: .5s;
    border-radius: 20px;
    margin-right: 30px;
    line-height: 0px;
    text-align: center;
}

.formulario .titulo{
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 20px;
    color: #fff;
}

.formulario .titulo span{
    color: #daa520;
    display: block;
    font-weight: 700;
}


/* estilo do rodape */

footer{
    background-color: #000;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    transition: .5s;
}

footer .top-footer button:hover{
    background-color: #daa520;
    color: #000;
}

footer .middle-footer{
    margin: 20px 0;
}

footer .middle-footer a{
    color: #fff;
    margin: 0 15px;
}

footer .bottom-footer p{
    color: #fff;
    margin-top: 20px;
}

footer .bottom-footer{
    border-top: 2px solid #fff;
}